@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
.home {
  height: 100vh;
  display: flex;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
  min-height: 100%;
}

.home-content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
}

.dps {
  color: #f9ca24;
}

.bold {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 3rem !important;
}

h1 {
  font-family: 'Rethink Sans', 'sans-serif';
  font-weight: 200;
  font-size: 80px !important;
  line-height: 95%;
  letter-spacing: -2px;
}

.description {
  color: #dddddd;
  margin-bottom: 40px;
  line-height: 1.6;
  font-family: 'Space Mono', monospace;
  font-size: 20px !important;
  text-align: center;
  margin-top: 30px;
}

.btn-1 {
  padding: 10px 25px;
  margin: 10px 12px 0 0; /* tighter spacing between buttons, top margin only */
  position: relative;
  background: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(243, 243, 243, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  font-family: 'Rethink Sans', sans-serif !important;
  font-size: 18px !important;
  color: white;
  text-decoration: none;
}

.btn-1:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.btn-2 {
  padding: 10px 56px;
  margin: 10px 12px 0 0; /* tighter spacing between buttons, top margin only */
  position: relative;
  border-radius: 2rem;
  font-family: 'Rethink Sans', sans-serif !important;
  font-size: 18px !important;
  text-decoration: none;
  background: #f9ca24;
  color: #000;
}

.btn-2:hover {
  background: #ffc703;
  transform: scale(1.05);
  cursor: pointer;
}
.button-group {
  display: flex;
  gap: 20px;
}

.circle-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;

  overflow: hidden;
  position: absolute;
}

.yellow-circle-top-left,
.yellow-circle-bottom-right {
  width: 56vw;
  height: 56vw;
  background-color: #fac71e;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.yellow-circle-top-left {
  top: -24.8vw;
  left: -27.8vw;
}

.yellow-circle-bottom-right {
  bottom: -26.5vw;
  right: -28vw;
}
