.home {
  height: 100vh;
  display: flex;
  font-family: 'Helvetica Now Display', 'sans-serif';
  color: #fff;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.home-content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dps {
  color: #f9ca24;
}

h1 {
  font-weight: 200;
  font-size: 80px !important;
  line-height: 95%;
  letter-spacing: -2px;
  text-align: center;
}

.description {
  color: #dddddd;
  margin-bottom: 40px;
  line-height: 1.6;
  font-family: 'Space Mono', monospace;
  font-size: 20px !important;
  text-align: center;
  margin-top: 30px;
  width: 36%;
}

.btn-1 {
  padding: 10px 25px;
  margin: 10px 12px 0 0; /* tighter spacing between buttons, top margin only */
  position: relative;
  background: #333 !important;
  border: 1px solid #000;
  border-radius: 2rem;
  font-size: 18px !important;
  color: white;
  text-decoration: none;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-1:hover {
  background: #555 !important;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.btn-2 {
  padding: 10px 56px;
  margin: 10px 12px 0 0; /* tighter spacing between buttons, top margin only */
  position: relative;
  border: 1.5px solid #000;
  border-radius: 2rem;
  font-size: 18px !important;
  text-decoration: none;
  background: #f9ca24;
  color: #000;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-2:hover {
  background: #ffc703;
  transform: scale(1.05);
  cursor: pointer;
}
.button-group {
  display: flex;
  gap: 20px;
}

.circle-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;

  overflow: hidden;
  position: absolute;
}

.yellow-circle-top-left,
.yellow-circle-bottom-right {
  width: 56vw;
  height: 56vw;
  background-color: #fac71e;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.yellow-circle-top-left {
  top: -24.8vw;
  left: -27.8vw;
}

.yellow-circle-bottom-right {
  bottom: -26.5vw;
  right: -28vw;
}

@media (max-width: 768px) {
  .home-content {
    padding-top: 25px;
  }

  h1 {
    font-size: 36px !important;
  }

  .description {
    font-size: 11px !important;
    width: 54%;
    margin-top: 15px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .button-group {
    flex-direction: column;
    gap: 5px;
  }

  .btn-1 {
    font-size: 9px !important;
    padding: 7px 12px;
    margin-bottom: -5px;
  }
  .btn-2 {
    font-size: 9px !important;
    padding: 5px 12px;
  }

  .container {
    flex-direction: column;
  }

  .yellow-circle-top-left,
  .yellow-circle-bottom-right {
    width: 95vw;
    height: 95vw;
  }

  .yellow-circle-top-left {
    top: -55vw;
    left: -45vw;
  }

  .yellow-circle-bottom-right {
    bottom: -27vw;
    right: -50vw;
  }

  .tag {
    font-size: 10px !important;
  }
}
